/*
$bodyBackground: #fff;
$baseFontSize: 12px;
$textColor: #aaa;
*/
@import 'scaffolds_1';

@import 'jquery.ui.all';
@import 'fullcalendar'; 
@import 'fullcalendar.print'; 
@import 'bootstrap';
@import "bootstrap-responsive"; 
/*@import "bootstrap/theme";*/
